---
layout: page
title: My Projects
permalink: /projects/
---

{% if site.projects.size == 0 %}
<h2>No projects</h2>
{% endif %}

<div class="posts">
  {% for project in site.projects %}
  <article class="post">
    <h2>{{ project.name }}</h2>
    <div class="meta">
      <span class="date">
        {{ project.role }}
      </span>

      <ul class="tag">
        <li>
          <a href="#">
            {{ project.tech_stack }}
          </a>
        </li>
      </ul>
    </div>

    {{ project.content }}
  </article>
  {% endfor %}
</div>
